body {
    font-size: 20px;
    background-color:black;
    color:azure;
}


h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
   background-color: rgba(0, 0, 0, .5);
    position:absolute;
    top: 26%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}



a {
    color:azure ;
    text-decoration: none ;
   
}


img {
    padding: 0px;
    margin: 0px;

}


#scene {
    background: url(restaurant.jpeg) center center no-repeat fixed;
    height:3000px;
    
}


#situation {
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
background-color: rgba(0, 0, 0, .5);
   
}
